* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;
    gap: 80px;
}

/* Profile Image */
.profile-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

/* Text */
.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-text h3 {
    margin-bottom: 15px;
}

.hero-text p {
    line-height: 1.6;
    margin-bottom: 30px;
}



.btn {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
.skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #c7d2fe, #e0f2fe);
}

.skills h1 {
  margin-bottom: 25px;
  color: #1e3a8a;
}

.skill-box {
  background: white;
  width: 65%;
  max-width: 600px;
  margin: 12px 0;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
  transition: transform 0.3s;
}

.skill-box:hover {
  transform: scale(1.03);
}

.skill-box h3 {
  color: #2563eb;
}

.skill-box p {
  color: #374151;
}
.academics {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ecfeff, #e0e7ff);
}

.academics h1 {
  margin-bottom: 30px;
  color: #1e3a8a;
}

.acad-table {
  border-collapse: collapse;
  width: 80%;
  max-width: 700px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

.acad-table th,
.acad-table td {
  padding: 15px;
  text-align: center;
}

.acad-table th {
  background-color: #2563eb;
  color: white;
}

.acad-table tr:nth-child(even) {
  background-color: #f1f5f9;
}
.contact {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fef3c7, #fde68a);
}

.contact h1 {
  margin-bottom: 30px;
  color: #92400e;
}

.contact-box {
  display: flex;
  gap: 30px;
}

.contact-item {
  background: white;
  padding: 25px 35px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.contact-item:hover {
  transform: scale(1.05);
}

.contact-item h3 {
  margin-bottom: 10px;
}

